$font-family-headings: 'Inter', sans-serif;
$font-weight-headings: 700;

$font-size-h1: 3.5rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1rem;
$font-size-h6: .85rem;